@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;500&display=swap');


body {
    background: rgb(255, 255, 255);
   
    font-family: 'Roboto Mono', monospace;
    cursor: default;
    
      overflow: hidden;
    
}
.wrapVideo{
  position: relative;
}
.textLogo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: none;
}
.video {
  width: 100%;
  height:auto;
  display: block;
  margin: auto;
  position: relative;
transform: scale(1.2) translateY(-100px);
background: rgb(255, 255, 255);
  z-index: 1;
  transition: all 1.5s ease-in-out;
}
