.container__navigation__maket {
    
    display: flex;
   align-items: center;
    justify-content: space-between;
    
    padding-bottom: 10px;
    padding-top: 10px;
    position: sticky;
   top:0;
   z-index: 3;
  
    
}
.logo {
    width: 130px;
    margin: 0 auto;
   margin-bottom: -100px;
    
}
.openbtn{
    background: white;
}